h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50)
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50)
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50)
}

input {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50)
}

option {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 50)
}